/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'

 *= require_tree .

*/
.cloudzoom-zoom {
    width:800px;
    height:800px;
}

#zoom-message {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bolder;
}
